In [16]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from collections import Counter

In [17]:
# Load data
dataset = pd.read_csv('train.csv')

In [18]:
dataset.head()

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,842,0,2.2,0,1,0,7,0.6,188,2,...,20,756,2549,9,7,19,0,0,1,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,...,905,1988,2631,17,3,7,1,1,0,2
2,563,1,0.5,1,2,1,41,0.9,145,5,...,1263,1716,2603,11,2,9,1,1,0,2
3,615,1,2.5,0,0,0,10,0.8,131,6,...,1216,1786,2769,16,8,11,1,0,0,2
4,1821,1,1.2,0,13,1,44,0.6,141,2,...,1208,1212,1411,8,2,15,1,1,0,1

In [19]:
# features and labels
X = dataset.iloc[:, 0:20].values
y = dataset.iloc[:, 20].values

# Normalization
for i, x in enumerate(X):
    minVal = np.min(x)
    norm_x = np.subtract(x, minVal)
    maxVal = np.max(norm_x)
    norm_x = np.divide(norm_x, maxVal)
    X[i] = norm_x
    
# Train and Test split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [20]:
K_VALUES = [(2 * i + 1) for i in range(1, 50)]
K_ACCURACY = []
for K in K_VALUES:
    match = 0
    total = 0
    for test_point_index, test_point in enumerate(X_test):
        distances_dict = Counter()
        class_count = Counter()

        for index, train_point in enumerate(X_train):
            distances_dict[index] = np.sum(np.square(test_point - train_point))

        for point_index, point in distances_dict.most_common()[-K:]:
            class_count[y_train[point_index]] += 1
            
        if class_count.most_common(1)[0][0] == y_test[test_point_index]:
            match += 1
        total += 1
    K_ACCURACY.append(match / total)

In [21]:
df = []
for i, value in enumerate(K_VALUES):
    df.append([value, K_ACCURACY[i]])
df = pd.DataFrame(df)
df.columns = ['K', 'Accuracy']
df

     K  Accuracy
0    3    0.5575
1    5    0.5475
2    7    0.5625
3    9    0.5750
4   11    0.5975
5   13    0.5900
6   15    0.5875
7   17    0.6025
8   19    0.5925
9   21    0.5950
10  23    0.5925
11  25    0.6100
12  27    0.6025
13  29    0.5950
14  31    0.5950
15  33    0.5975
16  35    0.6025
17  37    0.6000
18  39    0.6025
19  41    0.6075
20  43    0.6025
21  45    0.6025
22  47    0.6000
23  49    0.5950
24  51    0.5800
25  53    0.5850
26  55    0.5950
27  57    0.5900
28  59    0.5925
29  61    0.6000
30  63    0.5875
31  65    0.5800
32  67    0.5950
33  69    0.5850
34  71    0.5875
35  73    0.5875
36  75    0.5850
37  77    0.5775
38  79    0.5875
39  81    0.5975
40  83    0.5900
41  85    0.5875
42  87    0.5950
43  89    0.5875
44  91    0.5850
45  93    0.5925
46  95    0.5900
47  97    0.5900
48  99    0.5900

In [22]:
K_VALUES = [(2 * i + 1) for i in range(1, 50)]
K_VALUES_MAX = max(K_VALUES)
K_values_train = Counter()
match = 0
for test_point_index, test_point in enumerate(X_train):
    distances_dict = Counter()
    class_count = Counter()
    
    for index, train_point in enumerate(X_train):
        distances_dict[index] = np.sum(np.square(test_point - train_point))
        
    matched_k_list = []
    for K in K_VALUES:
        for point_index, point in distances_dict.most_common()[-(K + 1):-1]:
            class_count[y_train[point_index]] += 1

        if class_count.most_common(1)[0][0] == y_train[test_point_index]:
            matched_k_list.append(K)
    K_values_train[test_point_index] = matched_k_list

In [23]:
K_count = Counter()
for test_point_index, test_point in enumerate(X_train):
    for k in K_values_train[test_point_index]:
        K_count[k] += 1

L = 1450
k_excluded_set = set() 
for k in K_VALUES:
    if K_count[k] < L:
        k_excluded_set.add(k)
        
for test_point_index, test_point in enumerate(X_train):
    final_k_list = []
    K_values_train[test_point_index] = list(set(K_values_train[test_point_index]) - k_excluded_set)

In [24]:
K_values_train[10], K_count

([],
 Counter({3: 870,
          5: 882,
          7: 901,
          9: 900,
          11: 899,
          13: 910,
          15: 907,
          17: 904,
          19: 900,
          21: 895,
          23: 899,
          25: 905,
          27: 907,
          29: 903,
          31: 912,
          33: 918,
          35: 920,
          37: 921,
          39: 921,
          41: 923,
          43: 922,
          45: 924,
          47: 924,
          49: 927,
          51: 929,
          53: 926,
          55: 927,
          57: 925,
          59: 919,
          61: 918,
          63: 919,
          65: 920,
          67: 919,
          69: 918,
          71: 920,
          73: 922,
          75: 922,
          77: 921,
          79: 920,
          81: 922,
          83: 921,
          85: 923,
          87: 924,
          89: 923,
          91: 920,
          93: 921,
          95: 919,
          97: 920,
          99: 919}))

In [26]:
M = 15
match = 0
total = 0
for test_point_index, test_point in enumerate(X_test):
    total += 1
    distances_dict = Counter()
    k_count = Counter()
    class_count = Counter()
    
    for index, train_point in enumerate(X_train):
        distances_dict[index] = np.sum(np.square(test_point - train_point))
        
    for point_index, point in distances_dict.most_common()[-M:]:
        for k in K_values_train[point_index]:
            k_count[k] += 1
            
    K = int(k_count.most_common(1)[0][0])
    print(K)
    for point_index, point in distances_dict.most_common()[-K:]:
        class_count[y_train[point_index]] += 1
    
    if class_count.most_common(1)[0][0] == y_test[test_point_index]:
        match += 1

print(match / total)

IndexError: list index out of range